@page
@model WebApplication.Pages.PettyCash.CreateModel

@{
    ViewData["Title"] = "Create Request";
}

<h2 class="text-info">Create New Request</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="PettyCashRequests.Date"></label>
            </div>
            <div class="col-6">
                <input asp-for="PettyCashRequests.Date" class="form-control" />
            </div>
            <span asp-validation-for="PettyCashRequests.Date" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="PettyCashRequests.Description"></label>
            </div>
            <div class="col-6">
                <input asp-for="PettyCashRequests.Description" class="form-control" />
            </div>
            <span asp-validation-for="PettyCashRequests.Description" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="PettyCashRequests.Amount"></label>
            </div>
            <div class="col-6">
                <input asp-for="PettyCashRequests.Amount" class="form-control" />
            </div>
            <span asp-validation-for="PettyCashRequests.Amount" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="PettyCashRequests.CurrencyType"></label>
            </div>
            <div class="col-6">
                <select asp-for="PettyCashRequests.CurrencyTypeId" class="form-control" asp-items="ViewBag.CurrencyTypeId">
                    <option value="" selected> -- Choose a currency --</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="PettyCashRequests.Employee"></label>
            </div>
            <div class="col-6">
                <select asp-for="PettyCashRequests.EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId">
                    <option value="" selected> -- Choose a employee --</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="PettyCashRequests.StatusType"></label>
            </div>
            <div class="col-6">
                <select asp-for="PettyCashRequests.StatusTypeId" class="form-control" asp-items="ViewBag.StatusTypeId">
                    <option value="" selected> -- Choose a status --</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Create" class="btn btn-outline-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-outline-secondary form-control">Back</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
