@page
@model WebApplication.Pages.Gender.CreateModel

@{
    ViewData["Title"] = "Create Gender";
}

<br />
<h2 class="text-info">Create New Gender</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="GenderTypes.Name" class="control-label"></label>
            </div>
            <div class="col-6">
                <input asp-for="GenderTypes.Name" class="form-control" />
            </div>
            <span asp-validation-for="GenderTypes.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="GenderTypes.Description" class="control-label"></label>
            </div>
            <div class="col-6">
                <input asp-for="GenderTypes.Description" class="form-control" />
            </div>
            <span asp-validation-for="GenderTypes.Description" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Create" class="btn btn-outline-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-outline-secondary form-control">Back</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
